<div class="w3-panel   w3-text-gray w3-light-blue w3-border">
    <a href="/myblog/writings" class="w3-bar-item w3-button ">writings</a>
    <a href="/myblog/cartoons" class="w3-bar-item w3-button"> cartoons</a>
    <a href="/myblog/books/booksread" class="w3-bar-item w3-button">book list</a>
    <a href="/myblog/faces" class="w3-bar-item w3-button">faces</a>
    <a href="/myblog/capitals/statecapitals-" class="w3-bar-item w3-button">states and capitals</a>
    <a href="/myblog/" class="w3-bar-item w3-button" style="text-shadow:1px 1px 0 #444">home</a>
