<div class="w3-panel   w3-text-gray w3-light-blue w3-border">
    <a href="/myblog/writings" class="w3-bar-item w3-button ">writings</a>
    <a href="/myblog/cartoons" class="w3-bar-item w3-button"> cartoons</a>
    <a href="/myblog/books" class="w3-bar-item w3-button">book list</a>
    <a href="/myblog/faces" class="w3-bar-item w3-button">faces</a>
    <a href="/myblog/capitals" class="w3-bar-item w3-button">states and capitals</a>
    <a href="/myblog/firebird" class="w3-bar-item w3-button">Firebird</a>
    <a href="/myblog/modig" class="w3-bar-item w3-button">Modigliani paintings</a>
    <a href="/myblog/" class="w3-bar-item w3-button" style="text-shadow:1px 1px 0 #444">home</a>
