
{{- range site.Menus.main }}
<div class="w3-bar  w3-light-blue">
<a href="{{ .URL }}"class="w3-bar-item w3-button">{{.Name}} </a>
</div>
{{- end }}
<div class="w3-panel   w3-text-gray w3-light-blue w3-border">
    <a href="/writings" class="w3-bar-item w3-button ">writings</a>
    <a href="/cartoons" class="w3-bar-item w3-button"> cartoons</a>
    <a href="/books/booksread" class="w3-bar-item w3-button">book list</a>
    <a href="/faces" class="w3-bar-item w3-button">faces</a>
    <a href="/capitals/statecapitals-" class="w3-bar-item w3-button">states and capitals</a>
    <a href="/modig" class="w3-bar-item w3-button">Modigliani paintings</a>
    <a href="/" class="w3-bar-item w3-button" style="text-shadow:1px 1px 0 #444">home</a>
