Rivers Edge Journal
Mick Piontek
June 14, 2020
”Hi neighbor!” the first word‘s We heard from our new neighbor, We
knew this was someone We were going to enjoy meeting. My wife and We
had just moved Into our first apartment after living In the only house We
shared for fifty some years. We were excited and tentative by what was
ahead. Our children helped us make the transition and after realizing We had
accumulated a lot of ”stuff” that we couldn’t take with us We ”downsized”.
It wasn’t long until We appreciated the move. Our building managers had
several social opportunities In place allowing us to meet our neighbors and
Begin to realize community. Phyllis across the hall many year veteran, Larry
and Sue a very warm couple,Nicole who We had seen many times at our
church but never met, Wndy the Democrat from Arizona,Mimi the happy go
lucky Senior,Marge the ninety five year old retired school teacher, of course
Tom and Nancy our long time Friends, and Co that’s her first name Co a
very perky Asian young woman who liked to greet us with ”Hi neighbor”.
It’s been over a year, I’ve attended many ”resident breakfasts and din-
ners” met new people organized a ”sheep head” card club. We have acquired
an Indoor heated parking space after moving up the long waiting list and
lived through a snowy winter, as a side note We took advantage of the Green
Bay city parking ramps just a short walk from the apartment during the
worst of the snow storms.
We are getting new managers Jessie and Leanna are moving on We Will
Miss them. Lots has happened over the summer. Tom and Nancy have
moved to the south wing mirror Image of former apt. all in all took about
three weeks start to finish,We helped fix Toms room In train motif, It looks
great. We have had several”picnics” In Toms room. Nancy Has been joining
us for Scrabble In the evenings Tom goes to sleep around 7:30pm. We have
started to understand the art of gas grill great burgers salmon and pork chops
and view of the river! We have been walking a great deal East River Park,
Fox River Trail, Festival Food Market have helped on our step count.
The sun is streaming through the bedroom window as I get up from my
1nap and as I enter the great room the sunshine is spreading across the carpet
which still has the brush marks left by ”Mr Kirby”. We surly love days like
this.
Our dear friend Tom passed away. We asked him when he arrived in
heaven to put in good words for us. He died on Christmas eve very peacefully.
I’ll have to watch the ”Five at Four”on Fox alone or with Mary as we had a
standing day (Wed) to talk politics.
2