<html>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"> 
     <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">

      <title>Document</title>
</head>
<body>
     <!-- {{ partial "header" (dict "Kind" .Kind "Template" "Single") }} -->
     <div class ="w3-container w3-amber">
     <div class ="w3-center w3-text-white w3-wide">
          <h1>{{.Title}}</h1>
     </div>
     {{partial "navbar"}}

     <div class="w3-panel w3-gray w3-round-xxlarge">
          {{.Content}}
          {{partial "booksReadList"}}
           
     </div>
           
          <!-- <div style="color:grey; font-size:16px;">{{ dateFormat " 2006" .Date }}</div> -->
          <div >{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
          <div >{{if .Params.imgmo}} {{.Params.Imgmo}}ok{{end}}</div>
          <div style=" font-size:16px;">{{if .Params.phrase}} {{.Params.Phrase}}{{end}}</div>
     </div>
               </div>
     {{ partial "footer" . }}
</body>
</html>
